<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jainil.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/chapter05"
        android:label="Polynomial Solver"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".help"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.jainil.myapplication.help" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feedback"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar">
            <action android:name="com.example.jainil.myapplication.feedback" />

            <category android:name="android.intent.category.DEFAULT" />

            <intent-filter>
                <action android:name="com.example.jainil.myapplication.feedback" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SudokuSolver"
            android:label="@string/title_activity_sudoku_solver"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.jainil.myapplication.SudokuSolver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>